*{padding:0px;margin:0px;}

	ul, li{list-style:none;}
	ol, ul{list-style:none;}
	a{text-decoration:none;}

	#drawContainer{
		position:absolute;
		overflow:hidden;
	}

	#canvasContainer{position:absolute;}

	.pencil{
		position:absolute;
		display:none;
		z-index:1000;
		overflow:hidden;
		width:0px;
		height:0px;
		border:2px solid #22c;
		border-radius:50%;
		box-shadow:0 0 25px 8px #00f;
		-webkit-transform:translate3d(0,0,0);
		opacity:0.7;
	}

	.player {
		margin: 0 auto;
		width: 100%;
		height: 64px;
		background: #404040;
		font-family: monospace;
		font-size: 12px;
		position: absolute;
		bottom: 0;
		z-index: 200;
		-moz-transition: height 1s;
		-ms-transition: height 1s;
		-o-transition: height 1s;
		transition: height 1s;
		transition-property: height;
		transition-duration: 1s;
		transition-timing-function: initial;
		transition-delay: initial;
		display:none;
	}

	.player .scrubber{
		position: relative;
		width: 100%;
		background: #5a5a5a;
		height: 16px;
		border-top: 1px solid #3f3f3f;
		border-left: 0;
		border-bottom: 0;
		cursor: pointer;
		-moz-transition: height 1s;
		-ms-transition: height 1s;
		-o-transition: height 1s;
		transition: height 1s;
		transition-property: height;
		transition-duration: 1s;
		transition-timing-function: initial;
		transition-delay: initial;
	}

	.player .progress{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #ccc;
		z-index: 1;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#c10a0a),color-stop(0.5,#980a0a),color-stop(0.51,#760a09),color-stop(1,#760a09));
		background-image: -moz-linear-gradient(center top,#c10a0a 0,#980a0a 50%,#760a09 51%,#760a09 100%);
	}

	.player .loaded{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: #000;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#222),color-stop(0.5,#333),color-stop(0.51,#222),color-stop(1,#222));
		background-image: -moz-linear-gradient(center top,#222 0,#333 50%,#222 51%,#222 100%);
	}

	.player .scrubber-track{
		position: relative;
		margin: 0 12px;
		height: 100%;
		z-index: 1;
	}

	.player .progress-tracker{
		position: absolute;
		left: 0;
		top: 0;
		margin-left: -12px;
		width: 24px;
		height: 100%;
		background: #fff;
		border-radius: 6px;
		cursor: pointer;
	}

	.player .buttons{
		height: 44px;
		overflow: hidden;
		background-color: #161716;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
		border-top: 1px solid #3c3c3b;
	}

	.player .play-pause{
		width: 54px;
		height: 100%;
		float: left;
		overflow: hidden;
		box-shadow: 0 0 2px #000;
	}

	.player li{
		display: none;
		width: 44px;
		height: 100%;
		margin: 0;
		cursor: pointer;
	}
	
	.player li{position: relative;
		z-index: 1;
		height: 36px;
		overflow: hidden;
		list-style: none;
		padding: 0;
		margin: 0 0 .25em;
	}

	.player .play-pause li{width: 100%;}
	.player .play{display: inline-block;}
	.player .pause{display: inline-block;}

	.player li a:hover, .player li a:focus, .player li a:active{
		color: #730800;
		background: transparent;
	}

	.player li a:link, .player li a:visited{
		display: block;
		border: 0;
		padding-left: 28px;
		color: #c55500;
	}

	.player li:before, .player li:after, .player li a:before, .player li a:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
	}

	.player li a:before, .player li a:after{
		margin: -8px 0 0;
		background: #c55500;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(197, 85, 0);
	}

	.player .play a:before{
		left: 22px;
		border: 8px solid transparent;
		border-width: 8px 12px;
		border-left-color: #c55500;
		margin-top: -8px;
		background: transparent;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: transparent;
	}

	.player .pause a:before{
		left: 22px;
		width: 4px;
		height: 14px;
		border: 4px solid #c55500;
		border-width: 0 4px;
		margin-top: -7px;
		background: transparent;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: transparent;
	}

	.player .play{display:none;}
	.player .pause{display:block;}
	
	
	#info{
		position: absolute;
		top: 30%;
		left: 50%;
		height: 24px;
		width: 100px;
		z-index: 2000;
	}

	#info p{
		margin-left: -50%;
		margin-top: -50%;
		font-size: 24px;
		border-radius: 12px;
		background: black;
		color: white;
		font-family: monospace;
		padding: 25px;
		opacity: 0;
		text-align: center;
		display: block;
	}

	.player .volume-bar{
		float: left;
		height: 100%;
		line-height: 44px;
		padding: 0 6px 0 12px;
		border-left: 1px solid #3c3c3b;
		color: #ddd;
		box-shadow: 0 0 2px #000;
	}

	.player .volume{
		display: block;
		float: left;
		width: 30px;
	}

	.player .volume a:before{
		left: -2px;
		border: 7px solid transparent;
		border-right-color: #c55500;
		margin-top: -7px;
		background: transparent;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: transparent;
	}

	.player .volume-on:before{
		left: 12px;
		width: 6px;
		height: 6px;
		margin-top: -5px;
		border: 4px double #c55500;
		border-width: 4px 4px 0 0;
		-webkit-border-radius: 0 15px 0 0;
		-moz-border-radius: 0 15px 0 0;
		border-radius: 0 15px 0 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.player .volume a:after{
		left: 4px;
		width: 4px;
		height: 6px;
		margin-top: -3px;
	}
	
	.volume-bar:hover .volume-scrubber{
		width: 100px;
	}

	.player .volume-scrubber{
		display: block;
		position: relative;
		width: 0;
		background: #5a5a5a;
		height: 12px;
		border: 0;
		overflow: hidden;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		-webkit-transition: width .5s ease;
		-moz-transition: width .5s ease;
		-o-transition: width .5s ease;
		-ms-transition: width .5s ease;
		transition: width .5s ease 0;
		margin-top: 17px;
		cursor: pointer;
	}

	.volume-scrubber .progress{width: 100%;}

	

	.player .time{
		float: left;
		height: 100%;
		line-height: 44px;
		padding: 0 6px 0 12px;
		border-left: 1px solid #3c3c3b;
		color: #ddd;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	}

	.player .time em{
		padding: 0 2px 0 0;
		color: #f9f9f9;
		font-style: normal;
	}

	.player .time strong{
		padding: 0 0 0 2px;
		font-weight: normal;
		color: #999;
	}

	.player .progress{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: #ccc;
		z-index: 1;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#c10a0a),color-stop(0.5,#980a0a),color-stop(0.51,#760a09),color-stop(1,#760a09));
		background-image: -moz-linear-gradient(center top,#c10a0a 0,#980a0a 50%,#760a09 51%,#760a09 100%);
	}

	.player .fullscreen{
		float: right;
		height: 100%;
		line-height: 44px;
		padding: 0 6px 0 12px;
		border-left: 1px solid #3c3c3b;
		color: #ddd;
		box-shadow: 0 0 2px #000;
	}

	.player .exit, .player .full{
		display: inline-block;
		width: 25px;
	}

	.player .full:before, .player .full:after{
		z-index: 1;
		left: 8px;
		width: 3px;
		height: 8px;
		border: 5px solid #c55500;
		border-width: 5px 0;
		margin-top: -8px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.player .full a:before, .player .full a:after{
		z-index: 10;
		width: 4px;
		height: 0;
		border-width: 0 7px 7px;
		border-style: solid;
		border-color: transparent #c55500;
		border-top-color: transparent;
		border-right-color: rgb(197, 85, 0);
		border-bottom-color: transparent;
		border-left-color: rgb(197, 85, 0);
		margin-top: -8px;
		background: transparent;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: transparent;
	}

	.player .full:after{
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.player .full a:after{
		border-width: 7px 7px 0;
		margin-top: 3px;
	}

	.player .gotopage{
		float: right;
		color: #fff;
		line-height: 44px;
	}

	.gotopage .page-current{
		width: 3em;
		text-align: center;
		margin: 0 10px 0 0;
		padding: 0;
		font-size: 10px;
		border-radius: 0;
		-moz-border-radius: 0;
		-khtml-border-radius: 0;
		-webkit-border-radius: 0;
	}

	.gotopage .page-total{
		cursor: auto;
		display: inline-block;
		width: 40px;
	}

	#time{color:white;}